html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#status-div {
  position: fixed;
  top: 15px;
  left: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 2;
}

#peel-debug {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 2;
}

#peel-iframe {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.peel-debug {
  font-family: monospace;
}

.peel-container {
  margin-top: 6em;
}

#peel-progress {
  width: 0%;
}

#ready-button {
  margin-left: 1em;
}

#unready-button {
  margin-left: 1em;
}
