<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Peel</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="clientApp" ng-controller="AppCtrl">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div id="alerts">
  <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert(alert)">{{alert.msg}}</div>
</div>

<div class="container-fluid">
  <p class="text-right" ng-if="AdminService.loggedIn">Logged in as {{AdminService.username}}
    <a ng-href="/" ng-click="logout()">Logout</a>
  </p>
</div>

<div class="container">
  <div data-ng-switch on="AdminService.loggedIn">
    <div data-ng-switch-when="true" ng-controller="MainCtrl">
      <data-ng-include src="'/views/main.html'"></data-ng-include>
    </div>
    <div data-ng-switch-default ng-controller="LoginCtrl">
      <data-ng-include src="'/views/login.html'"></data-ng-include>
    </div>
  </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<!--script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script-->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/app.controller.js"></script>
<script src="scripts/controllers/create-experiment.controller.js"></script>
<script src="scripts/controllers/create-experiment_instance.controller.js"></script>
<script src="scripts/controllers/import-users.controller.js"></script>
<script src="scripts/controllers/export-users.controller.js"></script>
<script src="scripts/controllers/login-controller.js"></script>
<script src="scripts/controllers/fileUpload-controller.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/directives/experiment.directive.js"></script>
<script src="scripts/directives/experiment_instance.directive.js"></script>
<script src="scripts/directives/users.directive.js"></script>
<script src="scripts/services/experiment.service.js"></script>
<script src="scripts/services/experiment_instance.service.js"></script>
<script src="scripts/services/users.service.js"></script>
<script src="scripts/services/alert.service.js"></script>
<script src="scripts/services/admin.service.js"></script>
<!-- endbuild -->
</body>
</html>
