<div>
  <div class="pull-right">
    <button ng-click="importUsers()" class="btn btn-default btn-xs">
      <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
      Import Users
    </button>
    <button ng-click="exportUsers()" class="btn btn-default btn-xs">
      <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
      Export Users
    </button>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Status</th>
      <th>#</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key, value) in userStats">
      <td>{{ key }}</td>
      <td>{{ value }}</td>
    </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Gallup ID</th>
      <th>Random ID</th>
      <th>Language</th>
      <th>Sample Group</th>
      <th>Status</th>
      <th>URL</th>
      <th><!-- Actions --></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users" ng-mouseover="hover=true" ng-mouseleave="hover=false" ng-class="{'active':hover}">
      <td>{{ user.userId }}</td>
      <td>{{ user.gallupId }}</td>
      <td>{{ user.randomizedId }}</td>
      <td>{{ user.language }}</td>
      <td>{{ user.sampleGroup }}</td>
      <td>{{ user.status }}</td>
      <td>{{ user.currentGameUrl }}</td>
      <td align="right">
        <button ng-style="{'visibility' : (hover) ? 'visible' : 'hidden'}" ng-click="deleteUser(user)"
                class="btn btn-default btn-xs form-inline">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
