@(user: UserInfo)

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Gallup World Lab Experiments</title>
    <meta name="description" content="A portal for participating in Gallup's World Lab experiments.">
    <meta name="author" content="Gallup and Yale University">

      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <![endif]-->
  </head>

  <body>

    <iframe width="100%" height="600" src="http://brdbrd.net"></iframe>

    <div class="form-group">
      <label class="form-control" for="debug">Debug Info</label>
      <textarea class="form-control" style="font-family:monospace;" id="debug" rows="10" cols="60">
id:            @user.getUserId
arrival_time:  @user.getArrivalTime
gallup_id:     @user.getGallupId
language:      @user.getLanguage
randomized_id: @user.getRandomizedId
status:        @user.getStatus
sample_group:  @user.getSampleGroup
      </textarea>
    </div>
  </body>
</html>