@(user: UserInfo)
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Gallup World Lab Experiments</title>
    <meta name="description" content="A portal for participating in Gallup's World Lab experiments.">
    <meta name="author" content="Gallup and Yale University">

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>

    <!-- Bootstrap -->
    <link
    rel="stylesheet"
    href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link
    rel="stylesheet"
    href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="/scripts/client.js"></script>
    <link
    rel="stylesheet"
    href="/styles/client.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>
    <div class="container-fluid" id="status-div">
      <div class="row">
        <div class="col-md-12">
          <div class="progress">
            <div id="peel-progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemax="20" aria-valuemin="0">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-default" id="ready-button">I am ready</button><button class="btn btn-default" id="unready-button">Stop waiting</button>
      </div>
    </div>

    <iframe
      id="peel-iframe"
      width="100%"
      height="100%"
      scrolling="yes"
      src=""></iframe>
  </body>
</html>