@(user: UserInfo)

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Gallup World Lab Experiments</title>
    <meta name="description" content="A portal for participating in Gallup's World Lab experiments.">
    <meta name="author" content="Gallup and Yale University">

      <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>

      <!-- Bootstrap -->
    <link
    rel="stylesheet"
    href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link
    rel="stylesheet"
    href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <link
    rel="stylesheet"
    href="/styles/client.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container-fluid peel-container" id="status-div">
      <div class="row">
        <div class="col-md-12">
          <h3>Welcome to the World Lab!</h3>
          <p>
            The experiment will begin as soon as we gather enough participants.
          </p>
          <p>
            Please be patient, you will not have to wait long.
          </p>
          <p>
            Once we've gathered enough participants, this screen will change and a 'Begin' button will appear.
          </p>
        </div>
      </div>
    </div>

  </body>
</html>