<div class="container">
  <h3>Import Users</h3>
  <p><small>Select CSV with header row: id,language,sample_group</small></p>
  <div class="form-group">
    <button
      id="peel-select-file"
      type="file"
      ngf-select="uploadFiles($file, $invalidFiles)"
      accept=".csv"
      ngf-max-height="1000"
      ngf-max-size="1MB">
      Select File
    </button>
  </div>
    <div>{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
              <div style="width:{{f.progress}}%"
                   ng-bind="f.progress + '%'"></div>
          </span>
    </div>
    {{errorMsg}}
</div>

