<body ng-app="fileUpload" ng-controller="MyCtrl">
<h4>Upload on file select</h4>
<button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
        accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
  Select File</button>
<br><br>
File:
<div>{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
  <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"
               ng-bind="f.progress + '%'"></div>
      </span>
</div>
{{errorMsg}}
</body>

<!--
<div class="container">
  <h3>Upload CSV File</h3>
  <div class="form-group">
    <input type="file" name="file"/>
  </div>
  <h3>Import Users</h3>
  <small>(gallup_id, language)</small>
  <div class="form-group">
    <textarea rows="30" class="form-control" ng-model="importCsv"></textarea>
  </div>
  <div class="form-group">
      <button class="btn btn-success" ng-click="importUsers()">Import <span class="glyphicon glyphicon-import"></span></button>
      <button class="btn btn-danger" ng-click="close()">Cancel <span class="glyphicon glyphicon-remove"></span></button>
  </div>
</div>
-->
