<h3>Experiments</h3>
<div class="pull-right">
  <button ng-click="createExperiment()" class="btn btn-xs btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add Experiment
  </button>
</div>
<table class="table">
  <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th><!--Actions--></th>
      </tr>
  </thead>
  <tbody ng-repeat="experiment in experiments | orderBy:'id'" experiment="experiment"></tbody>
</table>


<h3>Users</h3>
<div users="users"></div>


<button ng-click="addAlert()" class="btn btn-xs btn-default">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  Add Alert
</button>


